<nav class="navbar">
  <div class="nav-left">
    <p class="navbar-item">LOGO</p>
  </div>
  <div class="nav-center">
    <p class="navbar-item">Navbar<p>
    <a class="navbar-item" routerLink="/home">Home</a>
    <!-- <a class="navbar-item" routerLink="/form">Form</a> -->
    <a class="navbar-item" routerLink="/symbols">Symbols</a>
    <a class="navbar-item" routerLink="/market-news">Market News</a>
    </div>
</nav>
<div class="sidebar">
  <a class="sidebar-item">placeholder</a>
  <a class="sidebar-item">placeholder</a>
  <a class="sidebar-item">placeholder</a>
  <a class="sidebar-item">placeholder</a>
</div>
<div class="content">
  <p>check one two</p>

  <!-- <a routerLink="/home">Go to home</a>  -->
  <router-outlet></router-outlet>
</div>



<!-- <router-outlet /> -->
